	body
		{
			position: relative;
			
			margin-left: 1cm;
			margin-right: 1cm;
		}
		h1
		{
			
			text-align: center;
		}
		#head
		{
			
			margin-left: 4cm;
			margin-right: 4cm;
			
		}
		#first
		{
			margin-left: 3cm;
			margin-right: 2cm;
			padding-top: 5cm;
			padding-bottom: 4cm;
			background-image: linear-gradient(#647ad1,#a1abd4);
			height: 100%;
			
			
		 background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
		}
		#img1
		{
			float: left;
			margin-left: 5cm;

		}
		#img2,#img3
		{
			margin-left: 1cm;
		}
		.heading
		{
			border: 2px;
			background-color: white;
			border-radius: 15px;
		}
		h
		{
			background-color: white;
		}
		.imgstyles
		{
			border: 2px solid red;
		border-radius: 50px; 
		border-spacing: 1px;

			
		}

		#second
		{
			padding-top: 1cm;
		}
		#dateofbirth
		{
			margin-left: 2cm;
			margin-right: 2cm;
			padding-left: 1cm;
			padding-top: 1cm;
			padding-bottom: 1cm;
			background-image: linear-gradient(#05e4fc,#b9eaf0);

		}
		input
		{
			width: 250px;
			height: 40px;
			border:2px solid grey;
			border-radius: 20px;
			background-color: #b9f0b9;
		}
		#button
		{
			height: 40px;
			width: 125px;
			background-color: blue;
			border-radius: 5px;
			color: white;
			border: none;

		}
		#button2
		{
			height: 40px;
			width: 175px;
			background-color: blue;
			border-radius: 5px;
			color: white;
			border: none;
		}
		#button:hover,#button2:hover
		{
			background-color: #0000A0;
		}
		#colors
		{
			margin-left: 2cm;
			margin-right: 2cm;
			padding-left: 1cm;
			padding-top: 1cm;
			padding-bottom: 1cm;
			background-image: linear-gradient(#74e026,#a0de73);
		}
		#theme
		{
			background-color: yellow;
			border-radius: 5px;
			border:none;
			width: 150px;
		}
		#theme:hover
		{
			background-color: #CCCC00;
		}